In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kapaa,22.0752,-159.3190,84.18,69,20,11.50,US,2022-09-28 03:21:30
1,1,Rio Gallegos,-51.6226,-69.2181,46.45,53,0,8.05,AR,2022-09-28 03:21:31
2,2,Bredasdorp,-34.5322,20.0403,51.53,91,95,4.07,ZA,2022-09-28 03:21:31
3,3,Guerrero Negro,27.9769,-114.0611,75.60,78,3,10.22,MX,2022-09-28 03:21:32
4,4,Sosenskiy,54.0590,35.9623,45.28,97,100,7.70,RU,2022-09-28 03:21:32

In [3]:
# Get the data types.
# Confirm the data types for the data columns are integers or floating-point decimal numbers.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kapaa,22.0752,-159.3190,84.18,69,20,11.50,US,2022-09-28 03:21:30
3,3,Guerrero Negro,27.9769,-114.0611,75.60,78,3,10.22,MX,2022-09-28 03:21:32
5,5,Hermosillo,29.0667,-110.9667,80.51,54,100,12.66,MX,2022-09-28 03:19:25
11,11,Butaritari,3.0707,172.7902,82.11,74,58,15.52,KI,2022-09-28 03:21:34
19,19,Hithadhoo,-0.6000,73.0833,76.62,90,100,17.87,MV,2022-09-28 03:21:15
32,32,Georgetown,5.4112,100.3354,84.13,84,20,5.75,MY,2022-09-28 03:19:35
36,36,Hilo,19.7297,-155.0900,86.29,73,75,3.44,US,2022-09-28 03:21:39
38,38,Dehloran,32.6941,47.2679,78.24,18,0,2.66,IR,2022-09-28 03:21:39
39,39,Canto Do Buriti,-8.1100,-42.9444,76.64,37,2,2.98,BR,2022-09-28 03:21:39
42,42,Todos Santos,23.4500,-110.2167,83.30,93,1,1.28,MX,2022-09-28 03:21:40

In [12]:
preferred_cities_df.count()

City_ID       168
City          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
Country       168
Date          168
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0             Kapaa      US     84.18  22.0752 -159.3190
3    Guerrero Negro      MX     75.60  27.9769 -114.0611
5        Hermosillo      MX     80.51  29.0667 -110.9667
11       Butaritari      KI     82.11   3.0707  172.7902
19        Hithadhoo      MV     76.62  -0.6000   73.0833
32       Georgetown      MY     84.13   5.4112  100.3354
36             Hilo      US     86.29  19.7297 -155.0900
38         Dehloran      IR     78.24  32.6941   47.2679
39  Canto Do Buriti      BR     76.64  -8.1100  -42.9444
42     Todos Santos      MX     83.30  23.4500 -110.2167

In [21]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location":""}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Guerrero Negro,MX,75.60,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
5,Hermosillo,MX,80.51,29.0667,-110.9667,ibis Hermosillo
11,Butaritari,KI,82.11,3.0707,172.7902,Isles Sunset Lodge
19,Hithadhoo,MV,76.62,-0.6000,73.0833,Scoop Guest House
32,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang
36,Hilo,US,86.29,19.7297,-155.0900,Hilo Hawaiian Hotel
38,Dehloran,IR,78.24,32.6941,47.2679,کافه گیم استورم
39,Canto Do Buriti,BR,76.64,-8.1100,-42.9444,Novo Hotel
42,Todos Santos,MX,83.30,23.4500,-110.2167,Hotel California Todos Santos

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))